body{
    background: #becac6;
    font-family: "Verdana", sans-serif;
    text-align: center;
}
form{
    background: #434350;
    display: inline-flex;
    background-size: cover;
}
.search1{
    color: white;
    font-size: 18px;
}
input[type=text] {
    background:white;
    cursor:pointer;
    font-size: 18px;
}
input[type=submit] {
    background:white;
    cursor:pointer;
    font-size: 18px;
}
div{
    text-align: center;
    font-size: 28px;
}
.red{
    background-color: red;
}
.green{
    background-color: greenyellow;
}
.yellow{
    background-color: yellow;
}